:root {
  --heading-color: hsl(268, 75%, 44%);
  --shadow-color: hsl(268, 75%, 64%);
  --placeholder-font: hsl(268, 75%, 84%);
  --paragraph-color: rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 16px;
  background-color: #e5e5e5;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 600px;
  background-color: white;
}

.header-container {
  position: relative;
  isolation: isolate;
}

.arrow {
  clip-path: polygon(0 0, 100% 0, 100% 30%, 50% 100%, 0 30%);
  height: 30px;
  background-color: var(--heading-color);
  transform: translateY(-1px);
}

.arrow.shadow {
  background-color: var(--shadow-color);
  width: 100%;
  position: absolute;
  bottom: -0.5rem;
  z-index: -1;
}

header {
  background-color: var(--heading-color);
  _position: absolute;
  _left: -1px;
  _top: -1px;
  _right: -1px;
  _width: 100%;
  padding: 1.5rem 2.5rem 0.15rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}

header svg {
  color: white;
  width: 2rem;
  height: 2rem;
}

main {
  padding: 1.5rem 4.5rem;
  _position: absolute;
  _top: 5rem;
}

main h2 {
  color: var(--heading-color);
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}

main h3 {
  color: var(--paragraph-color);
}

p {
  color: var(--paragraph-color);
}

main svg {
  fill: var(--heading-color);
}

form {
  _border: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}

input,
select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--heading-color);
  border-radius: 5px;
  font-family: "Source Sans Pro";
  color: var(--paragraph-color);
}

input:focus,
select:focus,
input:focus-within,
select:focus-within,
input:active,
select:active {
  border-color: var(--shadow-color);
}

input::placeholder {
  color: var(--placeholder-font);
}

.input-wrapper {
  grid-column: span 2;
  position: relative;
}

.input-wrapper > svg {
  position: absolute;
  top: 25%;
  right: 15px;
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--heading-color);
}

input#suche {
  font-family: "Montserrat";
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1em;
  font-weight: 600;
  color: var(--heading-color);
}

.select-wrapper {
  position: relative;
}

.select-wrapper::before {
  font-family: fontello;
  content: "^";
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.475rem;
  background-color: var(--heading-color);
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: rotateX(180deg);
}

ul.student-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul.student-list li {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem;
  border: 2px solid var(--heading-color);
  box-shadow: 3px 2px 0 var(--heading-color);
}

ul.student-list > li {
  margin-top: 1rem;
}

ul.student-list li a {
  font-family: "Source Sans Pro";
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--heading-color);
  text-decoration: none;
}

ul.student-list li a span {
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: underline;
}

.rectangle {
  width: 40px;
  height: 40px;
  background-color: var(--heading-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
